*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../img/background.avif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:center;
    min-height: 100vh;
}
main{
    width: 90%;
    height: 80vh;
    background-color: #d5c69a;
    float: left;
    margin-left: 5%;
    margin-top: 10vh;
}